<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
            <h1>Logo</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/product/list">Product Listing</a></li>
                    <li><a href="/product/description">Product Description</a></li>
                    <li><a href="/user/registration">Registration</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
            </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>
            Created by WEB322 Students
        </p>
    </footer>
</body>
</html>