<section id="login-container">
    <form action="/">

        <div class="form-controller">
            <label for="email">Email</label>
            <input type="text" id="email" > 
        </div>

        <div class="form-controller">
            <label for="password">Password</label>
            <input type="text" id="password" >
        </div>

        <div class="form-controller">
            <button type="submit">Login</button>
        </div>

    </form>
</section>